.simple-box {
    border-color:  rgba(0, 0, 0, 0.13);
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    padding-left: 10px;
 }
.vert-space-above-small {
    margin-top: 3px; padding-top:3px
}
.vert-space-below-small {
    margin-bottom: 3px; padding-bottom:3px
}